i.icon-additionally {
  background-image: url(../img/sprite.png);
  background-position: -120px -82px;
  width: 22px;
  height: 23px; }

i.icon-arrow-down-black {
  background-image: url(../img/sprite.png);
  background-position: -203px -68px;
  width: 10px;
  height: 5px; }

i.icon-arrow-down-blue {
  background-image: url(../img/sprite.png);
  background-position: -203px -93px;
  width: 10px;
  height: 5px; }

i.icon-arrow-down-gray {
  background-image: url(../img/sprite.png);
  background-position: -203px -88px;
  width: 10px;
  height: 5px; }

i.icon-arrow-down-smoke {
  background-image: url(../img/sprite.png);
  background-position: -203px -98px;
  width: 10px;
  height: 5px; }

i.icon-arrow-down-white {
  background-image: url(../img/sprite.png);
  background-position: -203px -73px;
  width: 10px;
  height: 5px; }

i.icon-arrow-left {
  background-image: url(../img/sprite.png);
  background-position: 0px -181px;
  width: 11px;
  height: 31px; }

i.icon-arrow-right-black {
  background-image: url(../img/sprite.png);
  background-position: -38px -36px;
  width: 11px;
  height: 10px; }

i.icon-arrow-right-blue {
  background-image: url(../img/sprite.png);
  background-position: -49px -36px;
  width: 11px;
  height: 10px; }

i.icon-arrow-right {
  background-image: url(../img/sprite.png);
  background-position: -11px -181px;
  width: 11px;
  height: 31px; }

i.icon-arrow-up {
  background-image: url(../img/sprite.png);
  background-position: -91px -36px;
  width: 17px;
  height: 7px; }

i.icon-bricks {
  background-image: url(../img/sprite.png);
  background-position: -174px -75px;
  width: 24px;
  height: 26px; }

i.icon-calendar {
  background-image: url(../img/sprite.png);
  background-position: -120px -181px;
  width: 13px;
  height: 13px; }

i.icon-checkbox-checked {
  background-image: url(../img/sprite.png);
  background-position: -66px -181px;
  width: 14px;
  height: 14px; }

i.icon-checkbox-default {
  background-image: url(../img/sprite.png);
  background-position: -80px -181px;
  width: 14px;
  height: 14px; }

i.icon-checkbox-red-checked {
  background-image: url(../img/sprite.png);
  background-position: -107px -181px;
  width: 13px;
  height: 13px; }

i.icon-checkbox-red-default {
  background-image: url(../img/sprite.png);
  background-position: -94px -181px;
  width: 13px;
  height: 13px; }

i.icon-cross-black-big {
  background-image: url(../img/sprite.png);
  background-position: -37px -181px;
  width: 15px;
  height: 15px; }

i.icon-cross-black {
  background-image: url(../img/sprite.png);
  background-position: -203px -49px;
  width: 10px;
  height: 10px; }

i.icon-cross-white {
  background-image: url(../img/sprite.png);
  background-position: -168px -156px;
  width: 16px;
  height: 16px; }

i.icon-docs {
  background-image: url(../img/sprite.png);
  background-position: -136px -132px;
  width: 19px;
  height: 18px; }

i.icon-eye {
  background-image: url(../img/sprite.png);
  background-position: -74px -36px;
  width: 17px;
  height: 10px; }

i.icon-f3 {
  background-image: url(../img/sprite.png);
  background-position: 0px -156px;
  width: 20px;
  height: 25px; }

i.icon-full-screen {
  background-image: url(../img/sprite.png);
  background-position: -174px -50px;
  width: 25px;
  height: 25px; }

i.icon-grid {
  background-image: url(../img/sprite.png);
  background-position: -152px -156px;
  width: 16px;
  height: 16px; }

i.icon-heart {
  background-image: url(../img/sprite.png);
  background-position: -110px -62px;
  width: 21px;
  height: 20px; }

i.icon-high-rise {
  background-image: url(../img/sprite.png);
  background-position: -174px -126px;
  width: 24px;
  height: 24px; }

i.icon-home {
  background-image: url(../img/sprite.png);
  background-position: -116px -132px;
  width: 20px;
  height: 18px; }

i.icon-hourglass {
  background-image: url(../img/sprite.png);
  background-position: -35px -132px;
  width: 20px;
  height: 24px; }

i.icon-house-blue {
  background-image: url(../img/sprite.png);
  background-position: -136px -156px;
  width: 16px;
  height: 16px; }

i.icon-house-percent {
  background-image: url(../img/sprite.png);
  background-position: -174px -26px;
  width: 28px;
  height: 24px; }

i.icon-icon-wrap {
  background-image: url(../img/sprite.png);
  background-position: -144px -34px;
  width: 29px;
  height: 30px; }

i.icon-lens-black {
  background-image: url(../img/sprite.png);
  background-position: -77px -132px;
  width: 20px;
  height: 20px; }

i.icon-lens-white {
  background-image: url(../img/sprite.png);
  background-position: -69px -156px;
  width: 17px;
  height: 17px; }

i.icon-li {
  background-image: url(../img/sprite.png);
  background-position: -203px -59px;
  width: 9px;
  height: 9px; }

i.icon-list {
  background-image: url(../img/sprite.png);
  background-position: -120px -156px;
  width: 16px;
  height: 16px; }

i.icon-map-location {
  background-image: url(../img/sprite.png);
  background-position: -114px -116px;
  width: 19px;
  height: 16px; }

i.icon-map-minus {
  background-image: url(../img/sprite.png);
  background-position: -91px -43px;
  width: 15px;
  height: 2px; }

i.icon-map-plus {
  background-image: url(../img/sprite.png);
  background-position: -22px -181px;
  width: 15px;
  height: 15px; }

i.icon-marker-1 {
  background-image: url(../img/sprite.png);
  background-position: -37px -156px;
  width: 16px;
  height: 20px; }

i.icon-marker-2 {
  background-image: url(../img/sprite.png);
  background-position: -52px -181px;
  width: 14px;
  height: 15px; }

i.icon-marker-3 {
  background-image: url(../img/sprite.png);
  background-position: -53px -156px;
  width: 16px;
  height: 20px; }

i.icon-marker-black {
  background-image: url(../img/sprite.png);
  background-position: -30px -82px;
  width: 30px;
  height: 34px; }

i.icon-marker-blue {
  background-image: url(../img/sprite.png);
  background-position: -60px -82px;
  width: 30px;
  height: 34px; }

i.icon-marker-brown {
  background-image: url(../img/sprite.png);
  background-position: -144px 0px;
  width: 30px;
  height: 34px; }

i.icon-marker-green {
  background-image: url(../img/sprite.png);
  background-position: 0px -82px;
  width: 30px;
  height: 34px; }

i.icon-marker-map {
  background-image: url(../img/sprite.png);
  background-position: -144px -93px;
  width: 22px;
  height: 23px; }

i.icon-marker-red {
  background-image: url(../img/sprite.png);
  background-position: -90px -82px;
  width: 30px;
  height: 34px; }

i.icon-marker-white {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 38px;
  height: 46px; }

i.icon-metro {
  background-image: url(../img/sprite.png);
  background-position: -184px -156px;
  width: 18px;
  height: 13px; }

i.icon-money {
  background-image: url(../img/sprite.png);
  background-position: -20px -156px;
  width: 17px;
  height: 22px; }

i.icon-object-comment {
  background-image: url(../img/sprite.png);
  background-position: -144px -64px;
  width: 30px;
  height: 29px; }

i.icon-object-photo {
  background-image: url(../img/sprite.png);
  background-position: -174px 0px;
  width: 29px;
  height: 26px; }

i.icon-object-video {
  background-image: url(../img/sprite.png);
  background-position: 0px -132px;
  width: 35px;
  height: 24px; }

i.icon-pagination-next {
  background-image: url(../img/sprite.png);
  background-position: -110px 0px;
  width: 34px;
  height: 31px; }

i.icon-pagination-prev {
  background-image: url(../img/sprite.png);
  background-position: -110px -31px;
  width: 34px;
  height: 31px; }

i.icon-people {
  background-image: url(../img/sprite.png);
  background-position: -131px -62px;
  width: 11px;
  height: 17px; }

i.icon-photo {
  background-image: url(../img/sprite.png);
  background-position: -133px -116px;
  width: 18px;
  height: 15px; }

i.icon-plus {
  background-image: url(../img/sprite.png);
  background-position: -120px -105px;
  width: 11px;
  height: 11px; }

i.icon-purse-black {
  background-image: url(../img/sprite.png);
  background-position: -174px -101px;
  width: 24px;
  height: 25px; }

i.icon-purse-white {
  background-image: url(../img/sprite.png);
  background-position: -103px -156px;
  width: 17px;
  height: 17px; }

i.icon-question {
  background-image: url(../img/sprite.png);
  background-position: -97px -132px;
  width: 19px;
  height: 19px; }

i.icon-return {
  background-image: url(../img/sprite.png);
  background-position: -151px -116px;
  width: 17px;
  height: 14px; }

i.icon-ruble {
  background-image: url(../img/sprite.png);
  background-position: -203px -36px;
  width: 9px;
  height: 13px; }

i.icon-scroll-arrow-arrow-up {
  background-image: url(../img/sprite.png);
  background-position: -188px -150px;
  width: 14px;
  height: 5px; }

i.icon-scroll-arrow-down {
  background-image: url(../img/sprite.png);
  background-position: -174px -150px;
  width: 14px;
  height: 5px; }

i.icon-scroll {
  background-image: url(../img/sprite.png);
  background-position: -203px 0px;
  width: 10px;
  height: 36px; }

i.icon-select-bg {
  background-image: url(../img/sprite.png);
  background-position: -72px -46px;
  width: 36px;
  height: 33px; }

i.icon-sn-fb {
  background-image: url(../img/sprite.png);
  background-position: -36px -46px;
  width: 36px;
  height: 36px; }

i.icon-sn-insta {
  background-image: url(../img/sprite.png);
  background-position: 0px -46px;
  width: 36px;
  height: 36px; }

i.icon-sn-ok {
  background-image: url(../img/sprite.png);
  background-position: -74px 0px;
  width: 36px;
  height: 36px; }

i.icon-sn-vk {
  background-image: url(../img/sprite.png);
  background-position: -38px 0px;
  width: 36px;
  height: 36px; }

i.icon-star-o {
  background-image: url(../img/sprite.png);
  background-position: -55px -132px;
  width: 22px;
  height: 21px; }

i.icon-star-yellow {
  background-image: url(../img/sprite.png);
  background-position: -155px -132px;
  width: 18px;
  height: 18px; }

i.icon-star {
  background-image: url(../img/sprite.png);
  background-position: -86px -156px;
  width: 17px;
  height: 17px; }

i.icon-title-after {
  background-image: url(../img/sprite.png);
  background-position: -57px -116px;
  width: 57px;
  height: 16px; }

i.icon-title-before {
  background-image: url(../img/sprite.png);
  background-position: 0px -116px;
  width: 57px;
  height: 16px; }

i.icon-triangle-left {
  background-image: url(../img/sprite.png);
  background-position: -208px -78px;
  width: 5px;
  height: 10px; }

i.icon-triangle-right {
  background-image: url(../img/sprite.png);
  background-position: -203px -78px;
  width: 5px;
  height: 10px; }

i.icon {
  display: inline-block;
  vertical-align: middle; }
